<template>
  <section class="section blog">
    <div class="container">
      <div class="post-contents">
        <h1 class="title">{{ post.title }}</h1>
        <p class="subtitle">{{ post.description }}</p>
        <div class="body">
          {{{ content }}}
        </div>
      </div>
    </div>
  </section>
</template>
